---
layout: page
---
{% assign page_id = page.url | remove: "/" %}
{% assign posts = site.categories[page_id] %}
<div id="page-category">
  <h1 class="pl-lg-2">
    <i class="far fa-folder-open fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted pl-2">{{ posts | size }}</span>
  </h1>

  <ul class="post-content pl-0">
    {% for post in posts %}
    <li class="d-flex justify-content-between pl-md-3 pr-md-3">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      <span class="dash flex-grow-1"></span>
      <span class="text-muted small">{% if post.dateUnknown %}Unknown{% else %}{{ post.date | date: site.data.date_format.post.long }}{% endif %}</span>
    </li>
    {% endfor %}
  </ul>
</div>
